*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
}

main
{
    padding: 2rem;
}

/* h1
{
    margin: 0;
    font-size: 1.4rem;
} */

.email-item-link
{
    text-decoration: none;
    color: #333;
}

.email-items
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* display: none; */
}

.email-items li
{
    border: 2px solid #ddd;
    border-radius: 0.4rem;
    color: #444;
    cursor: pointer;
    margin-bottom: 3rem;
    overflow: auto;
    padding: 0.5rem 0rem;
}

.email-items li:hover
{
    border-color: #bbb;
}


.email-item table td
{
    padding-left: 7rem;
}

.email-item table th
{
    color: #222;
    padding-left: 1.5rem;
}


.email-item th, .email-item td
{
    padding: 0.7rem;
}

.ui-icon
{
    padding: 0.3rem;
}

.blue-icon
{
    color: dodgerblue;
}

.no-data-message
{
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 0.4rem;
    padding: 1rem;
    
}

.show-more
{
    color: dodgerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.show-more:hover
{
    color: rgb(5, 79, 153);
}

@media only screen and (max-width: 600px)
{
    .email-item table td
    {
        padding-left: 0.0rem;
    }
}