*
{
    box-sizing: border-box;
}

body 
{
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
}

main
{
    width: 30rem;
    height: 30rem;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: white;
    border: 1px solid #d2d2d2;
}

main form 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

form input
{
    width: 90%;
    height: 2.7rem;
    margin: 1rem 0;
    font-size: 1rem;
    border-radius: 0.4rem;
    border: 1px solid #ccc;
    padding-left: 1rem;
    padding-right: 2.5rem;
}

.sign-up-button
{
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 0;
    height: 2.6rem;
    cursor: pointer;
}


.already-text
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #888;
    font-size: 0.85rem;
}

.already-text a
{
    text-decoration: none;
    color: dodgerblue;
}

.error-message
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ed4337;
    margin: 0.5rem;
    opacity: 0.0;
    text-align: center;
    font-size: 0.8rem;
}

.input-field
{
    width: 100%;
    text-align: center;
    position: relative;
}

.input-icon
{
    position: absolute;
    background-color: transparent;
    padding: 0.2rem;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    
}

.forgot-password
{
    display: inline-block;
    text-decoration: none;
    color: dodgerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.85rem;
    margin-bottom: 0.8rem;
    
    
}

@media only screen and (max-width: 600px)
{
    main 
    {
        width: 20rem;
    }

    form input
    {
        width: 100%;
        padding-right: 2.8rem;
    }

    .already-text
    {
        font-size: 0.8rem;
    }

    main
    {
        top: 50%;
    }

    .input-icon
    {
        right: 5%;
    }

}