*
{
    box-sizing: border-box;
    --nav-width: 18rem;
}

body
{
    margin: 0;
    padding: 0;
}

.container
{
    display: flex;
    gap: 0;
    flex-direction: row;
}

.nav
{
    background-color: #333;
    min-width: var(--nav-width); 
}

.main
{
    background-color: white;
    /* background-color: red; */
    width: calc(100vw - var(--nav-width));
}

.nav ul
{
    width: 100%;
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.nav a
{
    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.2rem;
}

.nav a:hover:not(.active)
{
    background-color: #555;
    cursor: pointer;
}

.nav a.active
{
    background-color: rgb(14, 113, 213);
}

.nav-icon
{
    margin-right: 1rem;
    font-size: 1.2rem;
}


.current-page
{
    border: none;
    width: 100%;
    height: 99%; 
    /* display: none; */
}
 

/* header
{
    background-color: #eee;
    height: 4rem;
    width: 100%;
} */


@media only screen and (max-width: 600px)
{
    .container
    {
        flex-direction: column;
    }

    .main
    {
        width: 100%;
        min-height: 100vh; 
    }

    .nav
    {
        width: 100%;
    }

    .nav ul
    {
        height: auto;
    }

    .current-page
    {
        height: 100vh; 
    }
}